<html>
	<head><title>Información completa del album ${album.idAlbum}</title></head>
	<body>
		<table>
			<tbody>
				<tr>
				<td>Album Id</td><td>$album.idAlbum</td>
				</tr>
				<tr>
				<td>Titulo</td><td>$album.titulo</td>
				</tr>
				<tr>
				<td>Fecha de publicacion</td><td>$album.fechaPublicacion</td>
				</tr>
				<tr>
				<td>Ejemplares vendidos</td><td>$album.ejemplaresVendidos</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>