<html>
	<head><title>Lista de albumes</title></head>
	<body>
		<table>
			<tbody>
				#foreach( $album in $albumes)
				<tr>
				<td>Título: </td><td>$album.titulo</td>
				<td>Album Id: </td><td><a href="$album.uri.href">$album.uri.href</a></td>
				</tr>
				#end
			</tbody>
		</table>
	</body>
</html>